@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/sf pro/SF-Pro-Display-Regular.otf');
}
@font-face {
  font-family: 'SF Pro Display Bold';
  src: url('../fonts/sf pro/SF-Pro-Display-Bold.otf');
}
@font-face {
  font-family: 'SF Pro Display Light';
  src: url('../fonts/sf pro/SF-Pro-Display-Light.otf');
}

@font-face {
  font-family: 'SF Pro Display Thin';
  src: url('../fonts/sf pro/SF-Pro-Display-Thin.otf');
}

@font-face {
  font-family: 'SF Pro Display Black';
  src: url('../fonts/sf pro/SF-Pro-Display-Black.otf');
}
@font-face {
  font-family: 'SF Pro Display Medium';
  src: url('../fonts/sf pro/SF-Pro-Display-Medium.otf');
}
@font-face {
  font-family: 'SF Pro Display ExtraBold';
  src: url('../fonts/sf pro/SF-Pro-Display-Heavy.otf');
}


@font-face {
  font-family: 'SF Pro Text';
  src: url('../fonts/sf pro/SF-Pro-Text-Regular.otf');
}
@font-face {
  font-family: 'SF Pro Text Bold';
  src: url('../fonts/sf pro/SF-Pro-Text-Bold.otf');
}
@font-face {
  font-family: 'SF Pro Text Light';
  src: url('../fonts/sf pro/SF-Pro-Text-Light.otf');
}

@font-face {
  font-family: 'SF Pro Text Ultralight';
  src: url('../fonts/sf pro/SF-Pro-Text-Ultralight.otf');
}

@font-face {
  font-family: 'SF Pro Text Thin';
  src: url('../fonts/sf pro/SF-Pro-Text-Thin.otf');
}

@font-face {
  font-family: 'SF Pro Text Black';
  src: url('../fonts/sf pro/SF-Pro-Text-Black.otf');
}
@font-face {
  font-family: 'SF Pro Text Medium';
  src: url('../fonts/sf pro/SF-Pro-Text-Medium.otf');
}